nav {
    width: 100%;
    position: fixed;
    top: 0;
    transition-timing-function: ease-in;
    transition:0.1s;
    z-index: 12;
    
}
.nav__blue{
    background-color: #032541;

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.nav-list {
    padding: 20px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-item{
    display: flex;
    justify-content:space-around;
    width: 50%;
    align-items: center;
}

.nav ul {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

}

.nav  ul li {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    display: row;

    list-style: none;

    color: #fff;
}

li a{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    padding-left:15px;
    text-decoration: none;

}

.icon{
    margin: 10px;
    font-size: 20px;
    color: white;
}
.icons-list{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1400px) {
    .nav-list {
        width: 40%;
    }
}
    
@media screen and (max-width: 1400px) {
    .nav-list {
        width: 60%;
    }
}
    
@media screen and (max-width: 900px) {
    .nav-list {
        width: 20%;
    }
}
    